body {
  text-align: center;
}

h1 {
  width: 100%;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px;
  overflow: hidden;
  border: none;
  font: normal 70px/1 "VT323", Helvetica, sans-serif;
  color: rgba(255,255,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 rgba(255,0,0,1) ;
}
/*test*/
.standardcolumn {
  list-style-type: none;
  height: 770px;
  margin: -15px;
  width: 150px;
  display: inline-block;
  background-color: #cc0099;
  box-shadow: 5px 10px 5px #888888;
}

.standardcell {
  height: 100px;
  width: 100px;
  margin-top: 24px;
  margin-left: 5px;
  display: relative;
  /*background-color: #F38630;*/
  border-radius: 100px;
  border: 20px black;
}

#column1 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#column7 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
}

#column6 {
  box-shadow: 5px 10px 5px #888888;
}

.nopiece {
  background-color: #F38630 ;
}

.redpiece {
  background-color: red;
}

.blackpiece {
  background-color: black;
}

.unsaturatedred{
  background-color: #bf4040;
}

.unsaturatedblack {
  background-color: #808080;
}


